html,body {
    font-size: 26px !important;
}
h1 {
    margin: 0px;
}
h3 {
    text-decoration: underline;
}
img {
    width: 90%;
    height: 90vh;
}

video {
    width: 80%;
}
.header {
    background-color: FFF;
}
.mySlides {
    display:none;
    height: 100%;
    padding: 50px 25px;
    text-align: center;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.text-section {
    padding: 20px 40px;
    text-align: left;
}
.table-section table {
    border-collapse: collapse;
    margin-top: 25px;
    margin-left:auto; 
    margin-right:auto;
}
.table-section th {
    text-align: center;
}
.table-section td {
    text-align: left;
}
.table-section th, td {
    border: 1px solid black;
}

